CRON_SECRET=
FISCAL_SUPABASE_URL=
FISCAL_SUPABASE_SERVICE_KEY=
COTACOES_SUPABASE_URL=
COTACOES_SUPABASE_SERVICE_KEY=
SIIMP_BASE_URL=
SIIMP_TOKEN=
SIIMP_STATUS_AUTORIZADO=1
GOOGLE_SHEET_ID=1kGotRwF6ODwguFEQ-fvw50OjaH-Ztw2IjKFtDOIPC4s
GOOGLE_SERVICE_ACCOUNT_JSON=
SLA_WEBHOOK_URL=
SLA_WEBHOOK_TOKEN=
DISCORD_WEBHOOK_URL=
